<section class="landingQuestion">
  <div class="header">
    <div class="lower-header">
      <div class="container">
        <div class="arrow-down"></div>
        <ul class="secondary-navigation pull-left">
          <li>YOUR PLACE</li>
          <li>YOUR COMMUTE</li>
          <li>ABOUT YOU</li>
        </ul>
        <div class="arrow-bottom"></div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="container">
      <div class="col-md-3 text-center">
        <a href="#" class="btn size">
          <h3>Room or Sublet</h3>
        </a>
        <p>Average rent is $900 in Boston</p>
      </div>
      <div class="col-md-3 text-center">
        <a href="#" class="btn size">
          <h3>Studio</h3>
        </a>
        <p>Average rent is $1600 in Boston</p>
      </div>
      <div class="col-md-3 text-center">
        <a href="#" class="btn size">
          <h3>One Bedroom</h3>
        </a>
        <p>Average rent is $2200 in Boston</p>
      </div>
      <div class="col-md-3 text-center">
        <a href="#" class="btn size">
          <h3>Two Bedroom</h3>
        </a>
        <p>Average rent is $2700 in Boston</p>
      </div>
    </div>
  </div><br>
  
  <div class="row">
    <div class="container">
      <div class="col-md-12">
        <table class="center-block">
          <td>
            <p class="lead text-center">What is your target rent?</p>
            <input type="number" name="budget" class="form-control center-block budget">
          </td>
          <td>
            <p class="lead text-center">What is your move-in date?</p>
            <input type="date" name="movein" class="form-control center-block movein">
          </td>
        </table>
      </div>
    </div>
  </div><br>
  
  <div class="row">
    <div class="container">
      <table>
        <td>
        <p class="lead text-center">What style of place do you want?</p>
        <table class="center-block title-type-table">
          <tr>
            <td>
              <img class="img space-type" src="./img/archetypes/Kenmore-1Small.jpg" alt="Placeholder image" width="140" height="140">
              <figure class="text-center">Modern and Bustling</figure>
            </td>
            <td>
              <img class="img space-type" src="./img/archetypes/500-boston-neighborhoods-back-bayCroppedSmall.jpg" alt="Placeholder image" width="140" height="140">
              <figure class="text-center">Classic Boston</figure>
            </td>
            <td>
              <img class="img space-type" src="./img/archetypes/agassiz-housesSmall.jpg" alt="Placeholder" width="140" height="140">
              <figure class="text-center">Chill Burbs</figure>
            </td>
          </tr>
        </table>
        </td>
        <td>
        <p class="lead text-center">Are you a?</p>
        <table class="center-block title-type-table">
          <tr>
            <td>
              <img class="img pro-type" src="./img/persontype/transfer_ugaCropSmall.jpg" alt="Placeholder image" width="140" height="140">
              <figure class="text-center">Student</figure>
            </td>
            <td>
              <img class="img pro-type" src="./img/persontype/NextGen300x199Small.jpg" alt="Placeholder image" width="140" height="140">
              <figure class="text-center">Professional</figure>
            </td>
            <td>
              <img class="img pro-type" src="./img/persontype/409705391_640CropSmall.jpg" alt="Placeholder image" width="140" height="140">
              <figure class="text-center">Family</figure>
            </td>
          </tr>
        </table>
        </td>
      </table>

    </div>
  </div>
  
  <div class="row">
    <div class="container">
      <div class="col-md-12">
        <table class="pull-right controls">
          <tr>
            <td>
              <a class="btn">Next</a>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div><br>
</section>